<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yahid.lightanalyzer" >

    <uses-feature android:name="android.hardware.usb.host" />
;
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity_SelectMeasureType"
            android:label="@string/select_measure_type" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_SetRoadData"
            android:label="@string/title_activity_activity__set_road_data" >
        </activity>
        <activity
            android:name=".Activity_MeasureRoad"
            android:label="@string/title_activity_activity__measure_road" >
        </activity>
        <activity
            android:name=".Activity_ReadFiles"
            android:label="@string/title_activity_activity__read_files" >
        </activity>
    </application>

</manifest>
